<% if end_users.exists? %>
  <% end_users.each do |end_user| %>
    <table>
      <thead>
        <tr>
          <td><%= image_tag end_user.get_profile_image, size: '100x100' %></td>
          <td></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= link_to end_user_path(end_user) do %>
              <span><%= end_user.name %></span>
            <% end %>
          </td>
          <td>フォロー数：<%= end_user.followed.count %></td>
          <td>フォロワー数：<%= end_user.follower.count %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% else %>
<p>ユーザーはいません</p>
<% end %>