<% if end_users.exists? %>
  <% end_users.each do |end_user| %>
    <table>
      <thead>
        <tr>
          <td><%= image_tag end_user.get_profile_image, size: '100x100', class: "rounded-circle" %></td>
          <td></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <%= link_to end_user_path(end_user) do %>
              <span class="text-dark"><%= end_user.name %></span>
            <% end %>
          </th>
          <th>フォロー数：<%= end_user.followed.count %></th>
          <th>フォロワー数：<%= end_user.follower.count %></th>
        </tr>
      </tbody>
    </table>
  <% end %>
<% else %>
<p>ユーザーはいません</p>
<% end %>