<h1>プロフィール編集</h1>
<%= form_with model: @end_user, local: true do |f| %>
  <%= f.label :image, 'プロフィール画像' %><br>
  <%= f.file_field :profile_image, class: "form-controle user_image", accept: 'image/*' %><br>
  <%= f.label :name, 'ユーザー名' %>
  <%= f.text_field :name, class: "form-controle" %>
<% end %>