  <%= form_with model: post_image, local: true do |f| %>
    <h4>タイトル</h4>
      <%= f.text_field :title, class: "form-control col-md-6" %>
    <h4>画像</h4>
      <%= f.file_field :image, accept: "image/*", class: "form-control-file" %>
    <h4>ジャンル</h4>
      <%= f.collection_select :genre_id, Genre.all, :id, :name, :include_blank => true, class: "form-control col-md-6" %>
    <h4>所在地</h4>
      <%= f.text_field :location, class: "form-control col-md-6" %><br>
      <input class="form-control col-md-6 mb-1" id="address" type="textbox" Value="">
      <input type="button" value='地図を検索' onclick="codeAddress()">
      <%= f.hidden_field :latitube, :value => "" %>
      <%= f.hidden_field :longitube, :value => "" %>
    <h4>紹介文</h4>
      <%= f.text_area :body, class: "form-control col-md-6" %>
      <%= f.submit '投稿', class: "text-center btn-square-so-pop mt-3 w-25" %>
  <% end %>