<div class="container my-3">
  <div class="row">
    <div class="col text-center">
      <h3>投稿編集</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <%= form_with model: @post_image, local: true do |f| %>
    <h4>タイトル</h4>
      <%= f.text_field :title, class: "form-control col-md-6" %>
      <p class="text-danger">
        <% if @post_image.errors.include?(:title) %>
          <%= @post_image.errors.full_messages_for(:title).first %>
        <% end %>
      </p>
    <h4>画像</h4>
      <%= f.file_field :image, accept: "image/*", class: "form-control-file" %>
      <p class="text-danger">
        <% if @post_image.errors.include?(:image) %>
          <%= @post_image.errors.full_messages_for(:image).first %>
        <% end %>
      </p>
    <h4>ジャンル</h4>
      <%= f.collection_select :genre_id, Genre.all, :id, :name, :include_blank => true, class: "form-control col-md-6" %>
      <p class="text-danger">
        <% if @post_image.errors.include?(:genre_id) %>
          <%= @post_image.errors.full_messages_for(:genre_id).first %>
        <% end %>
      </p>
    <h4>所在地</h4>
      <%= f.text_field :location, class: "form-control col-md-6" %><br>
      <input class="form-control col-md-6 mb-1" id="address" type="textbox" Value="">
      <input type="button" value='地図を検索' onclick="codeAddress()">
      <%= f.hidden_field :latitube, :value => "" %>
      <%= f.hidden_field :longitube, :value => "" %>
      <p class="text-danger">
        <% if @post_image.errors.include?(:location) %>
          <%= @post_image.errors.full_messages_for(:location).first %>
        <% end %>
      </p>
    <h4>紹介文</h4>
      <%= f.text_area :body, class: "form-control col-md-6" %>
      <p class="text-danger">
        <% if @post_image.errors.include?(:body) %>
          <%= @post_image.errors.full_messages_for(:body).first %>
        <% end %>
      </p>
      <%= f.submit '編集', class: "text-center btn-square-so-pop mt-3 w-25" %>
  <% end %>
    </div>
    <div class="col-md-6">
      <%= render "layouts/map", post_image: @post_image %>
    </div>
  </div>
</div>
