<div class="container">
  <div class="row py-5">
    <div class="col-md-5">
      <%= form_with model: @post_image, local: true do |f| %>
        <h4>タイトル</h4>
        <%= f.text_field :title, class: "form-control col-md-6" %>
        <p class="text-danger">
          <% if @post_image.errors.include?(:title) %>
            <%= @post_image.errors.full_messages_for(:title).first %>
          <% end %>
        </p>
        <h4>画像</h4>
        <%= f.file_field :image, accept: "image/*", class: "form-control-file" %>
        <p class="text-danger">
          <% if @post_image.errors.include?(:image) %>
            <%= @post_image.errors.full_messages_for(:image).first %>
          <% end %>
        </p>
        <h4>ジャンル</h4>
        <%= f.collection_select :genre_id, Genre.all, :id, :name, :include_blank => true, class: "form-control col-md-6" %>
        <p class="text-danger">
          <% if @post_image.errors.include?(:genre_id) %>
            <%= @post_image.errors.full_messages_for(:genre_id).first %>
          <% end %>
        </p>
        <h4>所在地</h4>
        <%= f.text_field :location, class: "form-control col-md-6" %><br>
        <p class="text-danger">
          <% if @post_image.errors.include?(:location) %>
            <%= @post_image.errors.full_messages_for(:location).first %>
          <% end %>
        </p>
        <input class="form-control col-md-6 mb-1" id="address" type="textbox" Value="">
        <input type="button" value='地図を検索' onclick="codeAddress()">
        <%= f.hidden_field :latitube, :value => "" %>
        <%= f.hidden_field :longitube, :value => "" %>
        <h4>紹介文</h4>
        <%= f.text_area :body, class: "form-control col-md-6" %>
        <p class="text-danger">
          <% if @post_image.errors.include?(:body) %>
            <%= @post_image.errors.full_messages_for(:body).first %>
          <% end %>
        </p>
        <%= f.submit '投稿', class: "text-center btn-square-so-pop mt-3 w-25" %>
      <% end %>
    </div>
    <div class="col-md-6">
      <h2 >Google Map</h2>
      <div id="display">緯度が表示されるよ</div>
      <div id="map"></div>
      <style>
        #map {
          height: 400px;
          width: 100%;
        }
      </style>

      <script>
        let map

        const display = document.getElementById("display")

        // mapの表示関数
        function initMap(){
          geocoder = new google.maps.Geocoder()

          // mapの初期位置,縮尺を定義
          map = new google.maps.Map(document.getElementById("map"),{
            center: {
              lat: 32.8061859,
              lng: 130.7058335
            },
            zoom: 12,
          });

          // mapsテーブルにあるそれぞれのレコードをmap上に表示
          <% @post_image.maps.each do |m| %>
            (function(){
              var contentString = "住所：<%= m.address %>";

              // マーカーを立てる
              var marker = new google.maps.Marker({
                position:{lat: <%= m.latitube %>, lng: <%= m.longitube %>},
                map: map,
                title: contentString
              });

              // 情報ウィンドウ(吹き出し)の定義
              // 投稿の詳細ページへのリンクも
              var infowindow = new google.maps.InfoWindow({
                position: {lat: <%= m.latitube %>, lng: <%= m.longitube %>},
                content: "<a href='<%= map_url(m.id) %>' target='_blank'> <%= m.address %></a>"
              });

              // クリックしたときに情報ウィンドウを表示
              marker.addListener("click", function(){
                infowindow.open(map, marker);
              });
            })();
          <% end %>
        }

        let geocoder
        // 地図検索関数
        function codeAddress(){
          let inputAddress = document.getElementById('address').value;

          geocoder.geocode({
            'address': inputAddress
          }, function (results, status){
            if (status == 'OK') {
              map.setCenter(results[0].geometry.location);
              var marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location
              });
              // console.log(results[0].geometry.location.ads());
              console.log(results[0].geometry.location.lat());
              console.log(results[0].geometry.location.lng());
              document.getElementById("post_image_latitube").value = results[0].geometry.location.lat();
              document.getElementById("post_image_longitube").value = results[0].geometry.location.lng();
              display.textContent = "検索結果：" + results[0].geometry.location
            } else {
                alert('該当する結果がありませんでした：' + status);
            }
          });
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
    </div>
  </div>
</div>