<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3><%= @post_image.title %></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <%= image_tag @post_image.get_image, size: '100x100' %>
      <p>ユーザーネーム：<%= link_to @post_image.end_user.name, end_user_path(@post_image.end_user) %></p>
      <p>ジャンル：<%= @post_image.genre.name %></p>
      <p>所在地：<%= @post_image.location %></p>
      <p>紹介文：<%= @post_image.body %></p>
      <%= link_to '編集する', edit_post_image_path(@post_image), class: "btn btn-primary" %>
      <div>
        <div id="favorite_btn_<%= @post_image.id %>">
          <%= render "public/favorites/favorite_btn", post_image: @post_image %>
        </div>
        <!--コメント投稿・一覧-->
        <div id="comments_area">
          <!--コメント一覧-->
          <%= render 'public/post_comments/index', post_image: @post_image %>
          <!--コメント投稿-->
        </div>
        <%= render 'public/post_comments/form', post_image: @post_image, post_comment: @post_comment %>
      </div>
      </div>
    </div>
  </div>
</div>