<div class="container p-3">
  <div class="row">
    <div class="col text-center">
      <%= form_with(model: @contact, local: true) do |f| %>
        <div class='form-wrap'>
          <div class='form-header'>
            <h3 class='form-header-text p-2'>
              お問い合わせフォーム
            </h3>
          </div>
        </div>
        <div class="correct-msg-main">
          <div class="contact-form">
            <p>～ 管理者へお問い合わせ ～</p>
              <div class="form-group row">
                <%= f.label "ユーザー名", class: "col-md-4" %>
                <%= f.text_field :name, placeholder: "ユーザー名", class: "form-control col-md-6" %>
                <p class="text-danger">
                  <% if @contact.errors.include?(:name) %>
                    <%= @contact.errors.full_messages_for(:name).first %>
                  <% end %>
                </p>
              </div>
              <div class="cform-group row">
                <%= f.label "お問合せ内容", class: "col-md-4" %>
                <%= f.text_area :content, placeholder: "お問合せ内容を入力してください", class: "form-control col-md-6" %>
                <p class="text-danger">
                  <% if @contact.errors.include?(:content) %>
                    <%= @contact.errors.full_messages_for(:content).first %>
                  <% end %>
                </p>
              </div>
              <div class="sform-group">
                <div class="register-btn">
                  <%= f.button type: "submit", class: "btn-square-so-pop w-25 mt-3", style: 'border-style: none;' do %>
                    送信 <i class="fas fa-paper-plane"></i>
                  <% end %>
                </div>
              </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>