<div class="container">
  <div class="row pt-5 pb-2">
    <div class="col-md-4">
      <%= render 'layouts/sidebar', genres: @genres %>
    </div>
    <div class="col-md-8">
      <div class="card md-4">
        <%= render 'layouts/carousel' %>
        <div class="cover-text">
          <h3 class="font-weight-bold">熊本あそび録に よぅ来たね！嬉しかぁ！！</h3>
          <p class="font-weight-bold">こんサイトは、熊本のよかとこば県内外の人に</p>
          <p class="font-weight-bold">知ってもらいたか人、知りたか人のためのサイトばい！</p>
          <p class="font-weight-bold">熊本のよかとこば、どんどん投稿して、熊本の魅力ば発信していこばい！！</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="btn-group justify-content-center col-4 md-4">
      <%= link_to 'ゲストログイン(PF/閲覧用)', public_session_guest_sign_in_path, method: :post, class: "btn-square-so-pop" %>
    </div>
    <div class="btn-group justify-content-center col-4 md-3">
      <%= link_to 'ログイン', new_end_user_session_path, class: "btn-square-so-pop" %>
    </div>
    <div class="btn-group justify-content-center col-4 md-3">
      <%= link_to '新規登録', new_end_user_registration_path, class: "btn-square-so-pop" %>
    </div>
  </div>
</div>