<% post_image.post_comments.each do |post_comment| %>
  <div>
    投稿日：<%= post_comment.created_at.strftime("%Y/%m/%d") %>
  </div>
  <%= post_comment.end_user.name %>
  <p>
    <%= image_tag post_comment.end_user.get_profile_image, size: '100x100', class: "rounded-circle" %>
    <%= post_comment.comment %>
  </p>
  <% if post_comment.end_user == current_end_user %>
    <%= link_to '削除', post_image_post_comment_path(post_comment.post_image, post_comment), method: :delete, remote: true, class: "btn btn-danger" %>
  <% end %>
<% end %>