<div class="container p-3">
  <div class="row">
    <div class="text-center col m-3">
      <h2>熊本あそび録</h2>
    </div>
  </div>
    <%= form_with model: @end_user, url: end_user_session_path, local: true do |f| %>
    <div class="row">
      <%= flash[:alert] %>
    </div>
      <div class="form-group row m-2">
        <%= f.label :email, "メールアドレス", class: "col-md-4" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control col-md-5" %>
      </div>
      <div class="form-group row m-2">
        <%= f.label :password, "パスワード", class: "col-md-4" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control col-md-5" %>
      </div>
      <div class="actions row m-2">
        <div class="col text-center">
          <%= f.submit "ログイン", class: "btn-square-so-pop" %>

        </div>
      </div>
  <% end %>
  <div class="row mt-3 mb-2">
      <p class="col-md-12">新規登録ば、しとらん人は</p>
      <p class="col-md-5 offset-2 ml-5"><%= link_to "こちら", new_end_user_registration_path, class: "text-warning" %> から新規登録ば済ませてはいよ！</p>
  </div>
</div>
