<header class="border border-dark">
  <div class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand mr-5" href="/"><span>熊本あそび録</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse header-item" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <!--管理者表示-->
          <% if admin_signed_in? %>
            <li>
              <%= link_to '会員一覧', admin_end_users_path, class: "text-dark" %>
            </li>
            <li>
              <%= link_to 'ジャンル一覧', admin_genres_path, class: "text-dark" %>
            </li>
            <li>
              <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "text-dark" %>
            </li>
          <% else %>
          <!--会員表示-->
            <ul class="navbar-nav ml-auto">
              <% if end_user_signed_in? %>
                <li>
                  <%= link_to 'マイページ', end_user_path(current_end_user), class: "text-dark" %>
                </li>
                <li>
                  <%= link_to '新規投稿', new_post_image_path, class: "text-dark" %>
                </li>
                <li>
                  <%= link_to 'ログアウト', destroy_end_user_session_path, method: :delete, class: "text-dark" %>
                </li>
              <% else %>
                <li>
                  <%= link_to 'サイト概要', home_about_path, class: "text-dark" %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>