<header>
  <div class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand mr-5" href="/"><span>熊本あそび録</span></a>
      <div class="row center-block">
        <div>
          <i class="fas fa-reply"></i>
          <%= link_to 'Back', 'javascript:history.back()', class: "menu-list text-dark mr-2" %>
        </div>
        <div>
          <ul class="navbar-nav ml-auto">
            <!--管理者表示-->
            <% if admin_signed_in? %>
              <li>
                <%= link_to '会員一覧', admin_end_users_path, class: "text-dark mr-3" %>
              </li>
              <li>
                <%= link_to 'ジャンル一覧', admin_genres_path, class: "text-dark mr-3" %>
              </li>
              <li>
                <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "text-dark" %>
              </li>
            <% else %>
            <!--会員表示-->
              <ul class="navbar-nav ml-auto">
                <% if end_user_signed_in? %>
                  <li>
                    <%= link_to 'マイページ', end_user_path(current_end_user), class: "menu-list text-dark" %>
                      <i class="menu-icon fas fa-user"></i>
                  </li>
                  <li>
                    <%= link_to '新規投稿', new_post_image_path, class: "menu-list text-dark ml-3" %>
                    <i class="menu-icon fas fa-pen-square"></i>
                  </li>
                  <li>
                    <%= link_to '投稿一覧', post_images_path, class: "menu-list text-dark ml-3" %>
                    <i class="menu-icon far fa-images"></i>
                  </li>
                  <li>
                    <%= link_to 'お問い合わせ', new_contact_path(end_user_id: current_end_user.id), class: "menu-list text-dark ml-3" %>
                    <i class="menu-icon far fa-envelope"></i>
                  </li>
                  <li>
                    <%= link_to 'ログアウト', destroy_end_user_session_path, method: :delete, "data-confirm" => "ログアウトしますか？", class: "menu-list text-dark ml-3" %>
                    <i class="menu-icon fas fa-sign-out-alt"></i>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>