    <h2 >Google Map</h2>
    <div id="display">緯度が表示されるよ</div>
    <div id="map"></div>
    <style>
      #map {
        height: 400px;
        width: 100%;
      }
    </style>

    <script>
      var map

      var display = document.getElementById("display")

      // mapの表示関数
      function initMap(){
        geocoder = new google.maps.Geocoder()

        // mapの縮尺を定義
        map = new google.maps.Map(document.getElementById("map"),{
          zoom: 12,
        });

        // mapsテーブルのレコードをmap上に表示
          <% m = post_image.map %>
          (function(){
            var contentString = "住所：<%= m.address %>";
            map.setCenter({lat: <%= m.latitube %>, lng: <%= m.longitube %>});

            // マーカーを立てる
            var marker = new google.maps.Marker({
              position:{lat: <%= m.latitube %>, lng: <%= m.longitube %>},
              map: map,
              title: contentString
            });

            // 情報ウィンドウ(吹き出し)の定義
            var infowindow = new google.maps.InfoWindow({
              pposition:results[0].geometry.location,
              content: inputAddress
            });

            // クリックしたときに情報ウィンドウを表示
            marker.addListener("click", function(){
              infowindow.open(map, marker);
            });
          })();
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
